@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0812), rgba(0, 0, 0, 0.669)),
    url(colleagues-working-together-project.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content {
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.content h2 {
  font-size: 54px;
  color: #db714e;
}
.content p {
  font-size: 23px;
  margin: 15px 0;
}
.content button {
  background-color: #04aa6d;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}
.content button {
  background-color: #068858;
  transition: 0.5s ease-in;
}
